<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="35">
        <mat-toolbar color="primary">Administrator Login</mat-toolbar>
        <mat-card-content>
            <form fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text">
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">Login</button>
            </form>  
        </mat-card-content>    
    </mat-card>
</div>