table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
}

div {
  margin: 30px;
  padding: 30px;
}

.add {
  margin-bottom: 20px;
  z-index: 0;
}
